#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  /* filter: drop-shadow(0 0 2em #646cffaa); */
  filter: hue-rotate(90deg);
  /* filter: drop-shadow(3px 3px green) sepia(10%) drop-shadow(-3px -3px #646cff); */
}
/* .logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.nav-bar-link, .apply-link {
  padding: 0.25em;
  color: #646cff;
  background-color: transparent;
}
.nav-bar-link:hover, .apply-link:hover {
  color: #535bf2;
  border-color: transparent;
  background-color: #646cff1c;
  border-radius: 8px;
}
.apply-link {
  margin-left: 1.5em;
  border: 1px solid #646cff;
  border-radius: 8px;
}

ul {
  min-height: 7em;
}
ul li {
  padding-left: 10%;
  list-style-type: none;
  text-align: left;
  width: 75%;             /* You'll have to adjust this to match the width for 10 characters in your specific font and size */
  white-space: nowrap;     /* Prevents the text from wrapping onto the next line */
  overflow: hidden;        /* Ensures that overflowing text is hidden */
  text-overflow: ellipsis; /* Appends an ellipsis when the text overflows the container width */
}

.header-nav {
  margin-bottom: 2em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid black;
}

footer {
  margin-top: 2em;
  padding-top: 0.25em;
  border-top: 1px solid black;
}

.logo-name-div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
