#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.nav-bar-link, .apply-link, .show-detail-button, .blue-link-button {
  padding: 0.25em;
  color: #646cff;
  background-color: transparent;
}
.nav-bar-link:hover, .apply-link:hover, .show-detail-button:hover, .blue-link-button:hover {
  color: #535bf2;
  border-color: transparent;
  background-color: #646cff1c;
  border-radius: 8px;
}
.apply-link  {
  margin-left: 1.5em;
  border: 1px solid #646cff;
  border-radius: 8px;
}

.cancel-button {
  color: red;
  background-color: transparent;
  border: none;
}

ul {
  min-height: 7em;
}
ul li {
  padding-left: 10%;
  list-style-type: none;
  text-align: left;
  width: 75%;             /* You'll have to adjust this to match the width for 10 characters in your specific font and size */
  white-space: nowrap;     /* Prevents the text from wrapping onto the next line */
  overflow: hidden;        /* Ensures that overflowing text is hidden */
  text-overflow: ellipsis; /* Appends an ellipsis when the text overflows the container width */
}

.header-nav {
  margin-bottom: 2em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid black;
}

footer {
  margin-top: 2em;
  padding-top: 0.25em;
  border-top: 1px solid black;
}

.logo-name-div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.pagination-div {
  margin-top: 4em;
}

.delete-icon {
  transition: transform 0.1s ease-in-out;
}
.delete-icon:hover {
  transform: scale(1.2);
}

.chat-window {
  position: fixed;
  bottom: 1em;
  right: 1em;
  /* padding: 5px; */
}